body {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin: 16px;
    border: none;
    font: normal 16px/1 "Lucida Console", Monaco, monospace;
    color: black;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

input{
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin: 3px;
    padding: 5px 15px 5px 16px;
    border: 1px solid #b7b7b7;
    -webkit-border-radius: 9px;
    border-radius: 9px;
    font: normal 16px/normal "Times New Roman", Times, serif;
    color: rgba(0,142,198,1);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: rgba(252,252,252,1);
    -webkit-box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.2) ;
    box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.2) ;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}
textarea{
    width: 500px;
    height: 60px;
}
.header{
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 18px;
    border: none;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font: normal 16px/1 "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: black;
    text-align: right;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    letter-spacing: 8px;
    word-spacing: 1px;
    background: rgba(52,152,219,0.5);
}

.tweet {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 8px;
    border: none;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font: normal 16px/1 "Times New Roman", Times, serif;
    color: black;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: rgba(52,152,219,0.5);
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li  {
    display: inline;
}
li a{

    margin-left: 5%;
}

.userMenu {
    text-align: right;
    padding-right: 10%;


}